/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.font-inter{
    font-family: "Inter";
}

.font-noto{
    font-family: "Noto Serif";
}

/* control the spin of animation */
@keyframes slow-spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.slow-spin{
    animation: slow-spin 5s linear infinite;
}